.navbar-dark {
  background-color: #0e2238 !important;
  /* color: white; */
}
.navbar-logo {
  width: 1.95rem;
  border-radius: 50%;
  margin-left: 0.65rem;
}
.navbar .logo {
  height: 2rem;
  display: flex;
  align-items: center;
}
.navbar {
  height: 3.5rem;
  .dropdown-menu {
    position: "absolute";
    right: 0px;
        top:2rem;
    z-index: 2000;
  }
  .dropdown{
          border-radius: 50%;
          height:2rem;
          width:2rem;
          /* border:1px solid rgb(150, 123, 123); */
          background-color: #c2c8d3;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .fa-user{
          cursor: pointer;
        }
}
