.navbar-dark {
  background-color: #0e2238 !important;
  /* color: white; */
}
.navbar-light{
  background-color: #fcb69f !important; /* Light Coral */

}
.navbar-logo {
  width: 1.95rem;
  border-radius: 50%;
  margin-left: 0.65rem;
}
.navbar .logo {
  height: 2rem;
  display: flex;
  align-items: center;
}
.navbar {
  height: 3.5rem;
  .dropdown-menu {
    position: "absolute";
    right: 0px;
        top:2rem;
    z-index: 2000;
  }
  .dropdown{
          border-radius: 50%;
          height:2rem;
          width:2rem;
          /* border:1px solid rgb(150, 123, 123); */
          background-color: #c2c8d3;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .fa-user{
          cursor: pointer;
        }
}
/* From Uiverse.io by alexruix */ 
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: #28096b;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background);
  transition: .5s;
}

input:checked + .slider {
  background-color: #522ba7;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}