.team {
  text-align: center;
  padding: 2rem;
}

.team__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.team__list {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping to new lines */
  justify-content: flex-start; /* Align items to the start */
  gap: 1rem;
  overflow-x: auto; /* Enable horizontal scrolling */
  padding: 1rem; /* Add some padding */
  max-width: 100%; /* Constrain the width to the container */
  margin: 0 auto; /* Center the container */
}

.team__list::-webkit-scrollbar {
  height: 8px; /* Scrollbar height */
}

.team__list::-webkit-scrollbar-thumb {
  background-color: #948e86; /* Scrollbar thumb color */
  border-radius: 4px;
}

.team__list::-webkit-scrollbar-thumb:hover {
  background-color: #b1b1b1;
}
.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem;
  width: 150px;
}

.team-member__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.team-member__initials {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #e6e6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #4c4cff;
}

.team-member__rating {
  margin-top: -1rem;
  background: #fff;
  padding: 0.3rem 0.8rem;
  border-radius: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.team-member__name {
  font-size: 1rem;
  margin: 0.5rem 0 0.2rem;
  /* color: #333; */
}

.team-member__role {
  font-size: 0.9rem;
  color: #777;
}
